In [2]:
import json
import csv
import pandas as pd

In [3]:
#Turn json to csv using pandas

df = pd.read_json('/Users/robbieardison/downloads/jobs.json')
df.to_csv('jobs.csv', index=False)

In [31]:
df2 = pd.read_csv('jobs.csv')
key_skills = df2['Key Skills']

In [33]:
df2.head()

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Online Bidding Executive,2 - 5 yrs,pre sales| closing| software knowledge| client...,Retail Sales,New York,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,2,Trainee Research/ Research Executive- Hi- Tech...,0 - 1 yrs,Computer science| Fabrication| Quality check| ...,R&D,San Francisco,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,3,Technical Support,0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer
4,4,Software Test Engineer -hyderabad,2 - 5 yrs,manual testing| test engineering| test cases| ...,Programming & Design,Boston,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer

In [32]:
#jobs by technology

def get_number_of_jobs_T(technology):
    get_skills = key_skills.str.contains(technology)
    number_of_python_jobs = 0
    for i in get_skills:
        if i == True:
            number_of_python_jobs += 1
    print(technology, number_of_python_jobs)
    
get_number_of_jobs_T('Python')

Python 1173

In [34]:
#jobs by location
locations = df2['Location']
def get_number_of_jobs_L(location):
    get_location = locations.str.contains(location)
    number_of_python_jobs = 0
    for i in get_location:
        if i == True:
            number_of_python_jobs += 1
    print(location, number_of_python_jobs)
get_number_of_jobs_L('Los Angeles')

Los Angeles 640

In [37]:
location_max = df2['Location'].max()
location_max

'Washington DC'